asgiref==3.2.3
beautifulsoup4==4.8.2
bokeh==1.4.0
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
Django==3.0.3
featexp==0.0.5
idna==2.8
Jinja2==2.11.0
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.2
numpy==1.18.1
packaging==20.1
pandas==1.0.0
Pillow==7.0.0
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
requests==2.22.0
selenium==3.141.0
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
tabulate==0.8.6
tornado==6.0.3
urllib3==1.25.8
