body{
    font-family: 'Maven Pro', sans-serif;
}

/* card */
.card{
    margin-top:10vmin;
    margin-bottom:10vmin;
    max-width: 110vmin!important;
    width: 99.9%!important;
    min-width: 70vmin!important;
}

/* tooltips */
.tooltip.top .tooltip-arrow,.tooltip-inner {
    color: #fff;
    background-color: #0074d9;
}
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    border-top-color: #0074d9;
}

.tooltip.show {
    opacity: 1; 
}

/* forms */
.select2-dropdown--below, .select2-dropdown--above{
    border-color:#0074d9 !important;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #0074d9 transparent !important;
  }
.select2-container--default .select2-selection--single .select2-selection__arrow b {
border-color: #0074d9 transparent transparent transparent !important;
}
.select2-selection__clear{
    color:#0074d9
}

input[type="number"]{
    height: 29px!important;
    width: 15vmin !important;
    min-width: 6em !important;
}

/* Remove spiners, Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove spinners, Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.select2-container{
    min-width: 25vmin !important;
}

.errorlist{
    font-size: smaller;
}