body{
    font-family: 'Maven Pro', sans-serif;
}

.card{
    margin-top:10vmin;
    margin-bottom:10vmin;
    max-width: 110vmin!important;
    width: 99%!important;
    min-width: 70vmin!important;
}

.tooltip.top .tooltip-arrow,.tooltip-inner {
    color: #fff;
    background-color: #0074d9;
}
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    border-top-color: #0074d9;
}

.tooltip.show /* The CSS classes that the tooltip has */ {
    opacity: 1; 
}

.select2-container{
    min-width:25vmin !important;
}
.select2-dropdown.select2-dropdown--below{
    border-color:#dee2e6;
} 