{% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Rebalanceamento de carteira</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
   </head>
    <body class="bg-primary">
        	<div class="d-flex justify-content-center h-70 mt-4">
	        	<div class="card bg-white mt-4 mb-4 border-dark rounded-4 shadow-lg" style="width: 50rem;">
                    <div class="card-header text-center border-dark rounded-4">
                        <h1 class="card-title mt-4">
                            Rebalanceamento de carteira
                        </h1>
                        Planejamento de aporte em carteira de ações "Buy and Hold"
                    </div>
                    <div class="card-body">
                            {% block content %}
                            {% endblock %}
                    </div>
                </div>
            </div>
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% block extraScripts %}
    {% endblock %}
    </body>
</html>