{% extends 'rebalanceamento/base.html' %}
{% block content %}

<style>

.select2-dropdown.select2-dropdown--below{
    border-color:#dee2e6;
} 


</style>
<div class="d-flex align-items-center flex-column">
    <p class="text-center">
        Para cada ativo, confirme o ticker, a quantidade de ações e a porcentagem alvo. </br>
        Por último, digite o valor do aporte:
    </p>
  
        <form action="{% url 'confirmWallet' %}" method="post">
            {% csrf_token %}
            {{walletFormSet.management_form}}
            <table id="formset-table-empty" style="display: none">
                {{walletFormSet.empty_form}}
            </table>
            <div class="input-group-sm">
                <table class="table table-borderless table-sm">
                    <thead>
                        {% for form in walletFormSet %}
                            {% if forloop.first %}
                                {% for field in form %}
                                    <th scope="col">{{ field.label_tag }}</th>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </thead>
                    <tbody class="walletForm">
                        {% for form in walletFormSet %}
                            <tr class="dynamic-form">
                                {% for field in form %}
                                    <td>{{ field }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        <tr class="dynamic-form"> </tr>
                    </tbody>
                </table>
            </div>
            {% for form in walletFormSet %}
                {% for key, errorList in form.errors.items %}
                    {{errorList}}
                {% endfor %}
            {% endfor %}
            <div class="d-flex align-items-center flex-column">
                <p>
                    <a class="add-row btn btn-primary text-light">+</a>
                    <a class="delete-row btn btn-primary text-light ">-</a>
                </p>
                    {% for field in capitalForm %}
                    <b>{{field.label_tag}}</b><div class="col-sm-3">{{field}}</div>
                    </br>
                    {% endfor %}
                <input class="btn btn-primary" type="submit" value="Confirmar">
            </div>
        </form>
</div>
{% endblock %}

{% block extraScripts %}
{{ walletFormSet.media }}

<script>
    $('.add-row').click(function() {
        var index = $('#id_form-TOTAL_FORMS').val();
        var newRow = $('#formset-table-empty').clone(true);
        newRow.find(':input').each(function() {
            for (attr of ['name', 'id'])
                $(this).attr(
                    attr,
                    $(this).attr(attr).replace('__prefix__', index)
                )
        });
        var lastRow = $(".dynamic-form:last");
        lastRow.clone().appendTo('.walletForm');
        newRow.find('td').appendTo(lastRow);
        $('#id_form-TOTAL_FORMS').val(
            parseInt($('#id_form-TOTAL_FORMS').val()) + 1
        );
    });
    function deleteForm(btn) {
        if ($('.dynamic-form').length > 2){
            $('.dynamic-form:last').prev().remove();
            $('#id_form-TOTAL_FORMS').val(
            parseInt($('#id_form-TOTAL_FORMS').val()) - 1
            );
        }
    }
    $('.delete-row').click(function() {
        return deleteForm(this);
    });
</script>
 

{% endblock %}