{% extends 'rebalanceamento/base.html' %}

{% block style %}

{% endblock %}
{% block content %}

<div class="d-flex align-items-center flex-column">
    <p class="text-center">
        Confirme o ticker, a quantidade de ações e a porcentagem alvo (pode ser emitida).</br>
        Por último, digite o valor do aporte:
    </p>
    <form action="{% url 'confirmWallet' %}" method="post">
        {% csrf_token %}
        {{walletFormSet.management_form}}
        <table id="formset-table-empty" style="display: none">
            <tbody>
                {{walletFormSet.empty_form}}
                <tr>
                    <td>
                        <a class="delete-row btn btn-primary text-light p-0" style="width:2em;">
                                        X
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="input-group-sm">
            <table class="table table-borderless table-sm">
                <thead align="center">
                    {% for form in walletFormSet %}
                        {% if forloop.first %}
                            {% for field in form %}
                                <th scope="col">{{ field.label_tag }}</th>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <th scope="col"></th>
                </thead>
                <tbody class="walletForm">
                    {% for form in walletFormSet %}
                        <tr class="dynamic-form">
                            {% for field in form %}
                                <td>{{ field }}</td>
                            {% endfor %}
                            <td>
                                <a class="delete-row btn btn-primary text-light p-0" style="width:2em;">
                                    X
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="dynamic-form"> </tr>
                </tbody>
            </table>
        </div>
        {% for form in walletFormSet %}
            {% for key, errorList in form.errors.items %}
                {{errorList}}
            {% endfor %}
        {% endfor %}
        <div class="d-flex justify-content-around w-25">
                <a class="add-row btn btn-primary text-light" style="width:3em;">+</a>
        </div>
        </br>
        {% for field in capitalForm %}
            <b>{{field.label_tag}}</b><div class="w-25">{{field}}</div>
            </br>
        {% endfor %}
        </br>
        <input class="btn btn-primary" type="submit" value="Confirmar">
    </form>
</div>
{% endblock %}

{% block extraScripts %}
{{ walletFormSet.media }}
{% endblock %}