{% extends 'rebalanceamento/base.html' %}

{% block content %}

<div align="center">
		<p>
			Caso deseje preencher automaticamente sua carteira, carregue um arquivo "CSV" com seus ativos.
			</br>
			<small>
				Ele pode ser gerado no <a href="https://cei.b3.com.br/">CEI</a>, em "Carteira de ativos". Basta copiar a tabela gerada (sem o cabeçalho e rodapé) e colar num editor de texto e salvar com a extensão "CSV".
			</small>
		</p>
		<form action="{% url 'home' %}" method="post"enctype="multipart/form-data">
			{% csrf_token %}
			<div class="w-25">
				{{form.as_p}}
			</div>
			<input class="btn btn-primary" type="submit" value="Continuar">
		</form>	

</div>
{% endblock %}