{% extends 'rebalanceamento/base.html' %}

{% block content %}
<div class="text-center">
  Ações recomendadas:<br><br>
  <div class="card border-grey">
      <table class="table table-sm table-hover table-borderless">
        <thead>
          <tr>
            <th scope="col">Ticker</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Preço</th>
          </tr>
        </thread>
        <tbody>
        {% for tickerData in tickerList %}
            <tr>
              <td>{{tickerData.0}}</td>
              <td>{{tickerData.1}}</td>
              <td>R$ {{tickerData.2}}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    
      {% if waitFor %}
        </br>Não foi possível comprar ativos por causa do tamanho do aporte.</br>
        O ativo mais atrasado da carteira é: </br></br><b>{{waitFor}}</b></br></br>
      {% endif %}
    </div>
  </div>
  <br>
  <div class="d-flex align-items-center flex-column">
    <div class="brugh" style="width: 100%;">
    {{ allocationFig | safe }}
    {{ walletFig | safe }}
    {{ factorFig | safe }}
    {{ VPAFig | safe }}
    </div>
  </div>
{% endblock %}


{% block extraScripts %}
{% endblock %}